.form-filial {
  @media (max-width: 1000px) {
    width: 95%;
  }
  @media (min-width: 1001px) {
    max-width: 100%;
  }
  @media (min-width: 1601px) {
    max-width: 80%;
  }
  margin-left: 2%;
}

.title {
  width: 100%;
  display: inline-flex;
}

h2 mat-icon {
  margin-right: 1%;
  line-height: 1.2;
}

.button-cadastro {  
  @media (max-width: 1000px) {    
    width: 30% !important;
  }
  @media (min-width: 1001px) {    
    width: 20% !important;
  }
  align-self: center;
}

.mat-mdc-card-content{
  padding: 0;
}

.mat-mdc-table{
  @media (max-width: 1000px) {    
    display: inline-table !important;
  }
  
}