.form-dados {
  @media (max-width: 1000px) {    
    width: 95%;
    margin-left: 3%;
  }
  @media (min-width: 1001px) {    
    width: 45%;
    margin-left: 2em;
  }
}

.form-senha{
  @media (max-width: 1000px) {    
    margin-top: 5%;
  }
}

mat-card {
  height: 20em;
}

.div-main {
  @media (min-width: 1001px) {
    display: flex;
  }
}

h2 mat-icon {
  margin-right: 1%;
  line-height: 1.2;
}


.button-cadastro {  
  width: 6em !important;
  align-self: center;
}
mat-card-content {
  margin: 0.8em 0.8em 0 0.8em
}


.alert-sucess {
  max-width: 20%;
  padding: 1em 1em 1em 1em;
  color: white;
}

.mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mdc-snackbar-container-color: #2196f3 !important;
    --mat-mdc-snack-bar-button-color: #fff  !important;
    --mdc-snackbar-supporting-text-color: #fff  !important;
  }
}

//in component.css
::ng-deep .warning {
  background: 'yellow';
}

.tabela-usuarios {
  margin-bottom: 2em;
}

.mat-mdc-card-content {
  padding: 0;
}

.footer-dados{
  margin-left: 0.8em;
  margin-top: 4em;
}