.form-dados {
  width: 45%;
}

mat-card {
  height: 20em;
}

.div-main {
  display: flex;
}

h2 mat-icon {
  margin-right: 1%;
  line-height: 1.2;
}

h2 {
  margin-block-start: 1%;
  margin-block-end: 1%;
}


.button-cadastro {  
  width: 6em !important;
  align-self: center;
}
mat-card-content {
  margin: 0.8em 0.8em 0 0.8em
}


.alert-sucess {
  max-width: 20%;
  padding: 1em 1em 1em 1em;
  color: white;
}

.mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mdc-snackbar-container-color: #2196f3 !important;
    --mat-mdc-snack-bar-button-color: #fff  !important;
    --mdc-snackbar-supporting-text-color: #fff  !important;
  }
}

//in component.css
::ng-deep .warning {
  background: 'yellow';
}

.tabela-usuarios {
  margin-bottom: 2em;
}

.mat-mdc-card-content {
  padding: 0;
}

.footer-dados{
  margin-left: 0.8em;
  margin-top: 5em;
}