.form-filial {
  @media (max-width: 1600px) {
    max-width: 75%;
  }
  @media (min-width: 1601px) {
    max-width: 60%;
  }
  margin-left: 2%;
}

.div-botao-enviar {
  align-self: center;
}

.botao-enviar {
  float: right;
}

.title {
  width: 100%;
  display: inline-flex;
}

h2 mat-icon {
  margin-right: 1%;
  line-height: 1.2;
}

.title-cadastradas {
  display: flex;
}

.botao-cadastrar{
  float: right;
  width: 15% !important;
}

.button-cadastro {  
  width: 37% !important;
  align-self: center;
}
mat-card-content {
  margin: 0.8em 0.8em 0 0.8em
}


.alert-sucess {
  max-width: 20%;
  padding: 1em 1em 1em 1em;
  color: white;
  //position: fixed;
  //float: right;
}

.mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mdc-snackbar-container-color: #2196f3 !important;
    --mat-mdc-snack-bar-button-color: #fff  !important;
    --mdc-snackbar-supporting-text-color: #fff  !important;
  }
}

//in component.css
::ng-deep .warning {
  background: 'yellow';
}

.tabela-usuarios {
  margin-bottom: 2em;
}