.form-usuario {
  @media (max-width: 1600px) {
    max-width: 100%;
  }
  @media (min-width: 1601px) {
    max-width: 80%;
  }
  margin-left: 2%;
}

.div-botao-enviar {
  align-self: center;
}

.botao-enviar {
  float: right;
}

.title {
  width: 100%;
  display: inline-flex;
}

h2 mat-icon {
  margin-right: 1%;
  line-height: 1.2;
}

h2 {
  margin-block-start: 1%;
  margin-block-end: 1%;
}

.title-cadastradas {
  display: flex;
}

.botao-cadastrar{
  float: right;
  width: 15% !important;
}

.button-cadastro {  
  width: 20% !important;
  align-self: center;
  @media (max-width:1000px) {
    width: 30% !important;
  }
}
mat-card-content {
  margin: 0.8em 0.8em 0 0.8em
}


.alert-sucess {
  max-width: 20%;
  padding: 1em 1em 1em 1em;
  color: white;
}

.mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mdc-snackbar-container-color: #2196f3 !important;
    --mat-mdc-snack-bar-button-color: #fff  !important;
    --mdc-snackbar-supporting-text-color: #fff  !important;
  }
}

::ng-deep .warning {
  background: 'yellow';
}

.tabela-usuarios {
  margin-bottom: 2em;
}

.mat-mdc-card-content {
  padding: 0;
}

.nome {
  width: 40%;
  @media (max-width:1000px) {
    width: 98%;
  }
}
.filiais {
  @media (max-width:1000px) {
    width: 48%;
  }
}
.funcoes {
  @media (max-width:1000px) {
    width: 48%;
  }
}
.email {
  width: 40%;
  @media (max-width:1000px) {
    width: 98%;
  }
}

.situacao {
  @media (max-width:1000px) {
    width: 48%;
  }
}
.senha {
  @media (max-width:1000px) {
    width: 48%;
  }
}