<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Acesso ao Sistema</h2>
      <mat-form-field>
        <input matInput matNativeControl type="email" placeholder="Email" [(ngModel)]="username" name="username" required>
        <mat-error>
          Insira um email válido
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Senha" [(ngModel)]="password" name="password" required>
        <mat-error>
          Insira sua senha
        </mat-error>
      </mat-form-field>
      <a href="recuperar-senha">Esqueci minha senha</a>
      <br><br>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Acessar <mat-icon>arrow_forward</mat-icon></button>
    </form>
  </mat-card-content>
</mat-card>