.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 100%;
    margin: 0;
}

.app-sidenav {
    width: 230px;
}

.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

mat-toolbar {
    @media (max-width: 1600px) {
        height: 13%;
    }
    @media (min-width: 1601px) {
        height: 7%;
    }
    background-color: white;
    border-bottom-style: groove;
    justify-content: center;
}

.divMenu {
    position: absolute; left: 0;
}

.divLogo {
    position: absolute;
    left: 3% !important;
}

.logo {    
    @media (max-width: 1600px) {
        max-height: 3em;
    }
    @media (min-width: 1601px) {
        max-height: 3.2em;
    }
}

.boaMinuta{
    font-family: 'Montserrat Bold', 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #7F7F7F;
}

.dadosLogin{    
    display: flex;
    position: absolute;
    right: 1% !important;
}

.botaoLoginToolbar {
    color: rgb(132, 25, 28);
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    font-family: var(--mdc-list-list-item-label-text-font);
    line-height: var(--mdc-list-list-item-label-text-line-height);
    font-size: var(--mdc-list-list-item-label-text-size);
    font-weight: var(--mdc-list-list-item-label-text-weight);
    letter-spacing: var(--mdc-list-list-item-label-text-tracking);
}

.background-login {
    background-image: url('file:/src/assets/img/caminhao.jpg');
    background-position: 20% 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 120% 140%;
}

.icon-menu {
    margin-right: 5%;
    font-size: 1.3em;
    align-self: center;
    margin-top: 1%;
}

mat-expansion-panel {
    width: 90%;
}

::ng-deep .mat-expansion-indicator::after {
    color: white !important;
}

.corpo-modal{
    display: flex;
    position: absolute;
    right: 1%;
    z-index: 9999;
    height: 8em;
    width: 12em;
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --mdc-elevated-card-container-color: #fff;
    border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px)); 
    mat-nav-list{
        width: 100%
    }
  }