<form  name="form" #formCargaFilterT="ngForm"  novalidate  [formGroup]="formFilter">
    <mat-card class="margin-r-2">
        <!--div class="title">
            <mat-card-header><h2>Cargas Liberadas</h2></mat-card-header>
        </div -->
        <div class="filtro">
            <mat-checkbox formControlName="lancadas">Lançadas</mat-checkbox>
            <mat-checkbox formControlName="faturadas">Faturadas</mat-checkbox>            
            <mat-form-field class="margin-l-1 col-11">
                <mat-label>Número Carga</mat-label>
                <input matInput class="form-control" type="number" formControlName="numeroCarga">
            </mat-form-field>   
            <mat-form-field class="field-data margin-l-2" appearance="fill">
                <mat-label>Inicio faturamento</mat-label>
                <input matInput [matDatepicker]="pickerInicio" formControlName="dataInicio">
                <mat-datepicker-toggle matIconSuffix [for]="pickerInicio">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="field-data margin-l-2" appearance="fill" >
                <mat-label>Fim Faturamento</mat-label>
                <input matInput [matDatepicker]="pickerFim" formControlName="dataFim">
                <mat-datepicker-toggle matIconSuffix [for]="pickerFim">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #pickerFim></mat-datepicker>
            </mat-form-field>            
            <mat-form-field appearance="fill" class="field-data margin-l-2">
                <mat-label>Filial</mat-label>
                <mat-select [compareWith]="compareFilial" formControlName="filiais" multiple>
                    <mat-option *ngFor="let filial of filiais" (click)="checkAllFiliais(filial)" [value]="filial">{{filial.nome}}</mat-option>
                </mat-select>
            </mat-form-field>    
            <button class="button-secundary align-self-center col-8 margin-l-2" mat-flat-button (click)="pesquisar()" >Pesquisar </button>
        </div>
        <hr><br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortTable($event)">
            <ng-container matColumnDef="numeroCarga">
                <th mat-header-cell *matHeaderCellDef style="width: 5%;" mat-sort-header="numeroCarga" > Carga </th>
                <td mat-cell *matCellDef="let carga"> {{carga.numeroCarga}} </td>
            </ng-container>
            <ng-container matColumnDef="filial">
                <th mat-header-cell *matHeaderCellDef style="width: 5%;" mat-sort-header="filial.nome"> Filial </th>
                <td mat-cell *matCellDef="let carga"> {{abreviarNomeFilial(carga.filial.nome)}} </td>
            </ng-container>
            <ng-container matColumnDef="municipioOrigem">
                <th mat-header-cell *matHeaderCellDef style="width: 6%;" mat-sort-header="municipioOrigem.nome"> Carreg. </th>
                <td mat-cell *matCellDef="let carga"> {{abreviarNomeCidade(carga.municipioOrigem.nome)}} </td>
            </ng-container>
            <ng-container matColumnDef="placa">
                <th mat-header-cell *matHeaderCellDef style="width: 6%;"  mat-sort-header="placa"> Placa </th>
                <td mat-cell *matCellDef="let carga"> {{ carga.placa}} </td>
            </ng-container>
            <ng-container matColumnDef="valorCarga">
                <th mat-header-cell *matHeaderCellDef style="width: 7%;"  mat-sort-header="valorCarga"> Valor Carga </th>
                <td mat-cell *matCellDef="let carga"> {{carga.valorCarga | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="resultado">
                <th mat-header-cell *matHeaderCellDef style="width: 5%;"> Resultado </th>
                <td mat-cell *matCellDef="let carga">  <a href='{{getLink(carga)}}'>lançar</a> </td>
            </ng-container>
            <ng-container matColumnDef="responsavel">
                <th mat-header-cell *matHeaderCellDef style="width: 10%;"  mat-sort-header="responsavelOperacional.nome"> Responsavel </th>
                <td mat-cell *matCellDef="let carga"> {{carga.responsavelOperacional?.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="faturado">
                <th mat-header-cell *matHeaderCellDef style="width: 5%;"  mat-sort-header="faturado"> Faturado </th>
                <td mat-cell *matCellDef="let carga"> {{carga.faturado ? 'SIM' : '-'}} </td>
            </ng-container>
            <ng-container matColumnDef="municipioDestino">
                <th mat-header-cell *matHeaderCellDef style="width: 6%;"  mat-sort-header="municipioDestino.nome"> Destino </th>
                <td mat-cell *matCellDef="let carga"> {{carga.municipioDestino?.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="volumes">
                <th mat-header-cell *matHeaderCellDef style="width: 6%;"  mat-sort-header="volumes"> Volumes </th>
                <td mat-cell *matCellDef="let carga"> {{carga.volumes}} </td>
            </ng-container>
            <ng-container matColumnDef="dataLimiteCarregamento">
                <th mat-header-cell *matHeaderCellDef style="width: 8%;"  mat-sort-header="dataLimiteCarregamento"> Limite Carregam. </th>
                <td mat-cell *matCellDef="let carga"> {{carga.dataLimiteCarregamento | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="dataLiberacaoFaturamento">
                <th mat-header-cell *matHeaderCellDef style="width: 8%;"  mat-sort-header="dataLiberacaoFaturamento"> Data Lib. Fat. </th>
                <td mat-cell *matCellDef="let carga"> {{carga.dataLiberacaoFaturamento | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="dataImpressaoMinuta">
                <th mat-header-cell *matHeaderCellDef style="width: 8%;" mat-sort-header="dataImpressaoMinuta"> Data Impr. Minuta </th>
                <td mat-cell *matCellDef="let carga"> {{carga.dataImpressaoMinuta | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
                [pageSizeOptions]="[100]" 
                [length]="totalLength"
                (page)="paginaAlterada($event)" showFirstLastButtons ></mat-paginator>
    </mat-card>
</form>