mat-card {  
  width: 100%;
  max-width: 400px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px 20px 20px 20px !important;
  
  @media (max-width: 1600px) {
    margin-left: 20%;
    max-height: 29em;
  }

  @media (min-width: 1601px) {
    margin: 2em auto;
    margin-left: 25%;
  }
}

h2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

a {
  float: right;
  margin-top: -0.5em;
}

button {
  margin-top: 2em;
  margin-bottom: 4em;
}

mat-form-field {
  display: block;
}

.email {
  margin-bottom: 1em;
}

.divLogo {
  position: relative;
  align-self: center;
  margin-right: 12%;

  @media (max-width: 1600px) {
    margin-left: 15%;
  }

  @media (min-width: 1601px) {
    margin-right: 12%;
  }
}

img {
  position: relative;
  align-self: center;
  border-radius: 50%;
  width: 80%;
}