<mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Recuperar senha</h2>
        <mat-form-field>
          <input matInput matNativeControl type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
          <mat-error>
            Insira um email válido
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Enviar link<mat-icon>arrow_forward</mat-icon></button>
      </form>
    </mat-card-content>
  </mat-card>