.form-filial {
  @media (max-width: 1600px) {
    max-width: 75%;
  }
  @media (min-width: 1601px) {
    max-width: 60%;
  }
  margin-left: 2%;
}

.div-botao-enviar {
  align-self: center;
}

.botao-enviar {
  float: right;
}

.title {
  width: 100%;
  display: inline-flex;
}

h2 mat-icon {
  margin-right: 1%;
  line-height: 1.2;
}

h2 {
  margin-block-start: 1%;
  margin-block-end: 1%;
}

.title-cadastradas {
  display: flex;
}

.botao-cadastrar{
  float: right;
  width: 15% !important;
}

.button-cadastro {  
  width: 25% !important;
  align-self: center;
}

.tabela-filiais {
  margin-bottom: 2em;
}
.mat-mdc-card-content{
  padding: 0;
}